---

---

<div class="flex items-center justify-center h-full align-middle bg-black">
    <div
        class="grid items-center justify-center w-full max-w-lg grid-cols-4 gap-4 px-10 py-8 rounded-md bg-black-100 max-h-max">
        <div class="flex items-center justify-center space-x-8 col-span-full">
            <img src="/img/IconMeshed.png" alt="Astral Icon" class="w-16" />
            <div class="-space-y-2">
                <h1 class="text-2xl font-black text-white">astral</h1>
                <h2 class="text-lg font-bold text-white">auth</h2>
            </div>
        </div>
        <div class="w-full space-y-4 px-7 col-span-full">
            <slot />
        </div>
    </div>
</div>