---

---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astral Auth</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
    <main class="h-screen bg-black">

        <slot />
    </main>

</body>

</html>