---
import { GetProvider } from "../../../../util/user";
import Card from "../../../components/Card.astro";
import Layout from "../../../components/Layout.astro";

const { provider: providerId } = Astro.params as { provider: string };

const provider = await GetProvider(providerId, import.meta.env, Astro);

if (!provider) Astro.redirect("/");
---

<Layout>
    <Card>
        <h1 class="text-2xl font-bold text-center text-white">
            {provider.type.charAt(0).toUpperCase() + provider.type.slice(1)}{" "}
            Settings
        </h1>

        <h2 class="text-xl font-semibold text-center text-white">
            Linked Account
        </h2>

        <h3 class="text-base font-medium text-center text-white">
            <span class="font-bold">Username:</span>{" "}
            {provider.provider_data ? provider.provider_data.username : provider.provider_id}
        </h3>

        <form action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/logout/${provider.type}`} method="GET">
            <input hidden readonly name="redirect" value={Astro.site} />
            <button class="w-full px-6 py-2 text-lg font-black text-center text-white bg-red-500 rounded-md gap-x-4"
                type="submit">
                Sign out
            </button>
        </form>

        <a href="/">
            <p class="w-full my-4 text-sm font-bold text-center text-blue-500">
                Go Back
            </p>
        </a>
    </Card>
</Layout>